<div class="container">
    <div class="row">

        <div class="col-md-4">
            <div class="card mb-4">
                <img class="card-img-top" src="https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/863E75A035911DBA10F8D7EE1E433A12A1BF4915670B66597AC31C585A291942/scale?width=1200&aspectRatio=1.78&format=jpeg" alt="Movie Image">
                <div class="card-body">
                    <h5 class="card-title">Title</h5>
                    <p class="card-text">Description</p>
                    <p class="card-text">Release Year: ReleaseYear</p>

                    <a href="#" class="btn btn-primary">View Details</a>
                </div>
            </div>
        </div>


        <div class="col-md-4">
            <div class="card mb-4">
                <img class="card-img-top" src="https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/863E75A035911DBA10F8D7EE1E433A12A1BF4915670B66597AC31C585A291942/scale?width=1200&aspectRatio=1.78&format=jpeg" alt="Movie Image">
                <div class="card-body">
                    <h5 class="card-title">Title</h5>
                    <p class="card-text">Description</p>
                    <p class="card-text">Release Year: ReleaseYear</p>
                    <a href="#" class="btn btn-primary">View Details</a>
                </div>
            </div>
        </div>


        <div class="col-md-4">
            <div class="card mb-4">
                <img class="card-img-top" src="https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/863E75A035911DBA10F8D7EE1E433A12A1BF4915670B66597AC31C585A291942/scale?width=1200&aspectRatio=1.78&format=jpeg" alt="Movie Image">
                <div class="card-body">
                    <h5 class="card-title">Title</h5>
                    <p class="card-text">Description</p>
                    <p class="card-text">Release Year: ReleaseYear</p>
                    <a href="#" class="btn btn-primary">View Details</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <img class="card-img-top" src="https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/863E75A035911DBA10F8D7EE1E433A12A1BF4915670B66597AC31C585A291942/scale?width=1200&aspectRatio=1.78&format=jpeg" alt="Movie Image">
                <div class="card-body">
                    <h5 class="card-title">Title</h5>
                    <p class="card-text">Description</p>
                    <p class="card-text">Release Year: ReleaseYear</p>
                    <a href="#" class="btn btn-primary">View Details</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <img class="card-img-top" src="https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/863E75A035911DBA10F8D7EE1E433A12A1BF4915670B66597AC31C585A291942/scale?width=1200&aspectRatio=1.78&format=jpeg" alt="Movie Image">
                <div class="card-body">
                    <h5 class="card-title">Title</h5>
                    <p class="card-text">Description</p>
                    <p class="card-text">Release Year: ReleaseYear</p>
                    <a href="#" class="btn btn-primary">View Details</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <img class="card-img-top" src="https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/863E75A035911DBA10F8D7EE1E433A12A1BF4915670B66597AC31C585A291942/scale?width=1200&aspectRatio=1.78&format=jpeg" alt="Movie Image">
                <div class="card-body">
                    <h5 class="card-title">Title</h5>
                    <p class="card-text">Description</p>
                    <p class="card-text">Release Year: ReleaseYear</p>
                    <a href="#" class="btn btn-primary">View Details</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <img class="card-img-top" src="https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/863E75A035911DBA10F8D7EE1E433A12A1BF4915670B66597AC31C585A291942/scale?width=1200&aspectRatio=1.78&format=jpeg" alt="Movie Image">
                <div class="card-body">
                    <h5 class="card-title">Title</h5>
                    <p class="card-text">Description</p>
                    <p class="card-text">Release Year: ReleaseYear</p>
                    <a href="#" class="btn btn-primary">View Details</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <img class="card-img-top" src="https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/863E75A035911DBA10F8D7EE1E433A12A1BF4915670B66597AC31C585A291942/scale?width=1200&aspectRatio=1.78&format=jpeg" alt="Movie Image">
                <div class="card-body">
                    <h5 class="card-title">Title</h5>
                    <p class="card-text">Description</p>
                    <p class="card-text">Release Year: ReleaseYear</p>
                    <a href="#" class="btn btn-primary">View Details</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <img class="card-img-top" src="https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/863E75A035911DBA10F8D7EE1E433A12A1BF4915670B66597AC31C585A291942/scale?width=1200&aspectRatio=1.78&format=jpeg" alt="Movie Image">
                <div class="card-body">
                    <h5 class="card-title">Title</h5>
                    <p class="card-text">Description</p>
                    <p class="card-text">Release Year: ReleaseYear</p>
                    <a href="#" class="btn btn-primary">View Details</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <nav aria-label="Page navigation example">
            <ul class="pagination" style="justify-content:center">
                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
        </nav>
    </div>
</div>